@import "../../../../common/variables";
@import "../../../../common/theme";

@mixin breakpoint-adjusted-width() {
  width: $navigator-width / 2;
  min-width: $navigator-width / 2;
  @include tabletStyles() {
    width: 20vw;
    min-width: 20vw;
  }
  @include mobileStyles() {
    width: 50vw;
    min-width: 50vw;
  }
}

.NavigatorCampaigns {
  margin-right: 2px;
  @include breakpoint-adjusted-width();
}

.NavigatorCampaignsItem {
  @include tabletStyles() {
    padding-left: 5px !important;
  }
  @include mobileStyles() {
    padding-left: 0 !important;
  }
}

.navigator-campaigns-enter {
  width: 0px;
  min-width: 0px;
  overflow: hidden;
}
.navigator-campaigns-enter-active {
  overflow: hidden;
  transition: all 200ms;
  @include breakpoint-adjusted-width();
}

.navigator-campaigns-exit {
  overflow: hidden;
  @include breakpoint-adjusted-width();
}
.navigator-campaigns-exit-active {
  overflow: hidden;
  width: 0;
  min-width: 0;
  transition: all 200ms;
}

.NavigatorCampaignsHeading {
  box-sizing: border-box;
  margin-bottom: 2px;
  height: $navigator-heading-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $navbar-spacing;
}
