@import "../../../common/variables";
@import "../../../common/theme";

.NavigatorContainer {
  display: flex;
}

.Navigator {
  width: $navigator-width;
  overflow: hidden;
  display: grid;
  grid-template-rows: $navigator-heading-height minmax(0, 1fr) $navigator-item-height;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "navigator-header navigator-header"
    "navigator-sections navigator-pages"
    "add-section add-page";
  @include tabletStyles() {
    width: 50vw;
  }
  @include mobileStyles() {
    width: 100vw;
  }
}

.NavigatorHeading {
  grid-area: navigator-header;
  padding: 0 $navbar-spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavigatorLeftContent {
  display: flex;
  margin-right: -30px;
}

.NavigatorBars {
  margin-right: 30px;
  @include themed() {
    color: t($primary);
    &:hover {
      color: text-hover-color(t($primary));
      cursor: pointer;
    }
  }
}

// avoids bumping the header text to the left
// after the fade animation finishes
.NavigatorHeadingArrow {
  width: 0px;
}

.NavigatorPages,
.NavigatorSections {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  // max-height: 200px;
}

.NavigatorPages {
  grid-area: navigator-pages;
}

.NavigatorSections {
  padding-right: 2px;
  grid-area: navigator-sections;
}

.NavigatorAddSection, .NavigatorAddPage {
  display: flex;
  justify-content: center;
  align-items: center;
  // makes the space between navigator and content look nicer
  @include mobileStyles() {
    margin-bottom: 2px;
  }
}

.NavigatorAddPage {
  grid-area: add-page
}

.NavigatorAddSection {
  grid-area: add-section;
  margin-right: 2px;
}

.NavigatorPlusIcon {
  margin-right: 10px
}