@import "../../common/theme.scss";
@import "../../common/variables.scss";

.Base {
  outline: none;
  border: none;
  height: $button-height;
  width: max-content;
  min-width: $button-width;
  border-radius: 0;
  &:hover {
    cursor: pointer;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
}
