@import "../../common/variables.scss";

.Text {
  width: 100%;
  box-sizing: border-box;
  border-radius: $input-radius;
  height: $input-height;
  padding: $input-padding;
  outline: none;
}

.Label {
  margin-top: $modal-spacing;
  width: 100%;
  display: inline-block;
  * {
    margin-top: 10px;
  }
}