@import "../../../common/variables";
@import "../../../common/theme";

.JournalNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $navbar-spacing;
}

.JournalNavbarRight {
  display: flex;
  align-items: center;
  height: 100%;
}

.JournalNavbarSpacing {
  margin-right: $navbar-spacing;
}

// mobile only

.JournalMobileNavbar {
  display: flex;
  align-items: center;
  padding: 0 $navbar-spacing;
}

.JournalMobileNavbarIcon {
  margin-left: auto;
}

.JournalMobileNavbarProviderIcon {
  margin-right: $navbar-spacing;
}

.JournalMobileNavbarDropdown {
  position: absolute;
  top: $navbar-height;
  min-height: 40px;
  height: max-content;
  width: 100%;
}

.JournalMobileNavbarListItem {
  padding: $navbar-spacing;
  display: flex;
}

$icon-default-width: 16px;
.JournalMobileNavbarListItem.extra-padding {
  padding: $navbar-spacing calc(#{$navbar-spacing} * 2 + #{$icon-default-width});
}

.JournalNavbarIcon {
  cursor: pointer;
}

.JournalMobileNav-enter {
  opacity: 0.01;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
}

.JournalMobileNav-enter-active {
  overflow: hidden;
  height: 500px;
  max-height: 500px;
  opacity: 1;
  transition: all 1000ms;
}

.JournalMobileNav-exit {
  overflow: hidden;
  opacity: 1;
  height: 500px;
  max-height: 500px;
}

.JournalMobileNav-exit-active {
  overflow: hidden;
  opacity: 0.01;
  height: 0px;
  max-height: 0px;
  transition: all 1000ms;
}
