@import "../../../common/variables";
@import "../../../common/theme";

.Entry {
  @include themed() {
    background-color: t($background);
  }
  z-index: $entry-z-index;
  display: grid;
  grid-column-gap: $default-grid-gap;
  grid-row-gap: $default-grid-gap;
  grid-template-rows: $navigator-heading-height 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "entry-heading entry-sidebar"
    "entry-content entry-sidebar";
  @include tabletStyles() {
    grid-template-rows: $navigator-heading-height minmax(0, 1fr) minmax(0, 3fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "entry-heading"
      "entry-sidebar"
      "entry-content";
  }
  @include mobileStyles() {
    grid-template-rows: $navigator-heading-height 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      // "entry-sidebar"
      "entry-heading"
      "entry-content";
  }
}

// 75 is a magic number that through T&E makes the entry almost overlap the navigator header
$open-entry-margin: calc(((100vh - #{$navbar-height} - 75px) / -2));

.Entry.open {
  margin-top: $open-entry-margin;
  animation-duration: 500ms;
  animation-name: mobile-slider;
}

.Entry.closed {
  margin-top: 0;
  animation-duration: 500ms;
  animation-name: reverse-mobile-slider;
}

@keyframes mobile-slider {
  from {
    margin-top: 0;
  }
  to {
    margin-top: $open-entry-margin;
  }
}

@keyframes reverse-mobile-slider {
  from {
    margin-top: $open-entry-margin;
  }
  to {
    margin-top: 0;
  }
}

.ENTRY_HEADING,
.ENTRY_CONTENT,
.ENTRY_SIDEBAR {
  @include themed() {
    background: t($default);
  }
}

.ENTRY_HEADING {
  grid-area: entry-heading;
  @include themed() {
    background-color: t($default);
    color: t($on-default);
  }
}

.ENTRY_CONTENT {
  grid-area: entry-content;
}

.ENTRY_SIDEBAR {
  grid-area: entry-sidebar;
  @include mobileStyles() {
    display: none;
  }
}
