@import "../../../../common/variables";
@import "../../../../common/theme";

.NpcEntry {
  display: grid;
  min-height: 0;
  grid-template-columns: minMax(0, 1fr) minMax(0, 2fr);
  grid-template-rows: minmax(max-content, 1fr) 3fr;
  @include themed() {
    background: t($background);
  }
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "avatar description"
    "stats description";
  // @include tabletStyles() {
  //   grid-template-columns: repeat(2, minMax(0, 1fr));
  //   grid-template-rows: repeat(3, minMax(0, 1fr));
  //   grid-template-areas:
  //     "avatar description"
  //     "stats description"
  //     "details details";
  // }
  @include mobileStyles() {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "avatar"
      "description"
      "stats";
  }
}

.NPC_STATBLOCK,
.NPC_AVATAR,
.NPC_DESCRIPTION,
.NPC_DETAILS {
  min-height: 0;
  min-width: 0;
  // height: 100%;
  // width: 100%;
  max-height: 1fr;
  box-sizing: border-box;
  @include themed() {
    background-color: t($default);
    color: t($on-default);
  }
}

.NPC_STATBLOCK {
  grid-area: stats;
}
.NPC_AVATAR {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NPC_DESCRIPTION {
  grid-area: description;
}
// .NPC_DETAILS {
//   grid-area: details;
// }

.AvatarImage {
  // height: 100%;
  width: 100%;
}
