@import "../../common/variables";
@import "../../common/theme";

.ModalWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  // background-color: blue;
}
.Modal {
  width: 100px;
  height: 150px;
  background-color: red;
  //   @include themed() {
  //     background-color: t($default);
  //     color: t($default);
  //   }
}
