@import "../../common/theme";
@import "../../common/variables";

.CampaignSelect {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";

  @media (max-width: $landscape-breakpoint) {
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
      ". . ."
      ". content ."
      ". . .";
  }
  @media (max-width: $tablet-breakpoint) {
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 100%;
    grid-template-areas:
      "."
      "content"
      ".";
  }
  @include themed() {
    background-color: t($background);
    color: t($background);
  }
}

.CampaignSelectContent {
  grid-area: content;
  @include themed() {
    background-color: t($default);
    color: t($on-default);
  }
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 20px;
  grid-template-areas:
    "campaign-content-header campaign-content-add"
    "campaign-content-list campaign-content-list";
}

.CampaignSelectHeader {
  grid-area: campaign-content-header;
}
.CampaignSelectList {
  grid-area: campaign-content-list;
}
.CampaignSelectAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: campaign-content-add;
}
