@import "../../common/variables";
@import "../../common/theme";

.MarkdownPreview,
.MarkdownTextArea {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
}

.MarkdownTextArea {
  padding: 8px;
  resize: none;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: $button-radius;
  @include themed() {
    background: t($default);
    color: t($on-default);
    border: solid 2px t($primary);
  }
}

.MarkdownPreview {
  padding: 0 8px;
  p {
    margin: 0;
    padding: 0;
  }
  a {
      @include themed() {
          color: t($primary);
      }
  }
}
