@import "../../common/variables";
@import "../../common/theme";

.MarkdownPreview,
.MarkdownTextArea {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  padding: 8px;
}

.MarkdownTextArea {
  resize: none;
  margin: 0;
  outline: none;
  @include themed() {
    background: t($default);
    color: t($on-default);
    border: solid 2px t($primary);
  }
}

.MarkdownPreview {
  p {
    margin: 2px 0;
  }
  a {
    @include themed() {
      color: t($primary);
    }
  }
}
