@import "./common/theme.scss";
@import "./common/variables.scss";

.App {
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  @include themed() {
    background-color: t($background);
  }
  display: grid;
  grid-column-gap: $default-grid-gap;
  grid-row-gap: $default-grid-gap;
  grid-template-rows: $navbar-height minMax(0, 1fr);
  grid-template-columns: max-content 3fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar content";
  @include mobileStyles() {
    grid-template-columns: 100%;
    grid-template-rows: $navbar-height minmax(0, 1fr) minmax(
        0,
        1fr
      );
    grid-template-areas:
      "navbar"
      "sidebar"
      "content";
  }
}

.NAVBAR {
  grid-area: navbar;
}

.PAGE {
  grid-area: sidebar / sidebar / content / content;
}

.SIDEBAR {
  grid-area: sidebar;
}

.CONTENT {
  grid-area: content;
}
