@import "./common/theme.scss";
@import "./common/variables.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.DevComponents {
  z-index: 20000;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.DevComponents.hidden {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  // transition: color 5000s ease-in-out 0s;
}
