@import "./common/theme.scss";
@import "./common/variables.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.DevComponents {
  z-index: 20000;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.DevComponents.hidden {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}
