// z-indexs
$entry-z-index: 100;

$navbar-height: 60px;
$navbar-spacing: 20px;

// theme variables

$default: "default";
$primary: "primary";
$primary-variant: "primary-variant";
$secondary: "secondary";
$secondary-variant: "secondary-variant";
$info: "info";
$success: "success";
$warning: "warning";
$danger: "danger";
$background: "background";
$on-primary: "on-primary";
$on-secondary: "on-secondary";
$on-background: "on-background";
$on-danger: "on-danger";
$on-default: "on-default";
$on-success: "on-success";
$on-info: "on-info";
$on-warning: "on-warning";

// buttons
$button-width: 100px;
$button-height: 40px;
$button-radius: 10px;

// form & inputs
$input-height: 35px;
$input-radius: 5px;
$input-padding: 5px;

// snackbar
$snackbar-radius: 5px;

// icons
$icon-height: 30px;
$icon-width: 30px;

// social media colors
$facebook-blue: #3b5998;
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$medium-green: #02b875;
$patreon-orange: #f96854;

// modal
$modal-spacing: 30px;

// media styles

// breakpoints
$phone-breakpoint: 600px;
$tablet-breakpoint: 900px;
$landscape-breakpoint: 1200px;
// $desktop-breakpoint: 1800px;

@mixin mobileStyles() {
  @media (max-width: $phone-breakpoint) {
    @content;
  }
}
@mixin tabletStyles() {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin landscapeStyles() {
  @media (max-width: $landscape-breakpoint) {
    @content;
  }
}


// navigator

$navigator-width: 30vw;
$navigator-heading-height: 50px;
$navigator-item-height: 40px;