$navbar-height: 40px;
$footer-height: 40px;
$mobile-navbar-height: 40px;
$mobile-footer-height: 40px;

// breakpoints
$phone-breakpoint: 600px;
$tablet-breakpoint: 900px;
$landscape-breakpoint: 1200px;
// $desktop-breakpoint: 1800px;

// use the following pattern for most responsive styles:

// .Example {
// ... desktop styling
// @media (max-width: $landscape-breakpoint) {
//   .. small screen styling
// }
// @media (max-width: $tablet-breakpoint) {
//   .. mobile screen styling
// }
// }


// theme variables

$default: "default";
$primary: "primary";
$primary-variant: "primary-variant";
$secondary: "secondary";
$secondary-variant: "secondary-variant";
$info: "info";
$success: "success";
$warning: "warning";
$danger: "danger";
$background: "background";
$on-primary: "on-primary";
$on-secondary: "on-secondary";
$on-background: "on-background";
$on-danger: "on-danger";
$on-default: "on-default";
$on-success: "on-success";
$on-info: "on-info";
$on-warning: "on-warning";

// buttons
$button-width: 100px;
$button-height: 40px;
$button-radius: 10px;

// form & inputs
$input-height: 35px;
$input-radius: 5px;
$input-padding: 5px;

// snackbar
$snackbar-radius: 5px;

// icons
$icon-height: 30px;
$icon-width: 30px;
