@import "../../../../common/variables";
@import "../../../../common/theme";

.NavigatorText {
  height: $navigator-item-height;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
